[submodule "external/networkit"]
	path = external/networkit
	url = https://github.com/kit-parco/networkit
[submodule "external/ranger"]
	path = external/ranger
	url = https://github.com/imbs-hl/ranger
