*.bin
*.tsv
*.o
*.sf
*.a
*.so
*.tmp
a.out
build/
bundle/
bugs/
bin/
dna-test/
example
*~
test/
*.sublime-project
*.sublime-workspace
.DS_Store
_build
_static
_templates
*.Rproj
.Rproj.user
.Rbuildignore
.RHistory
*.pyc
*.pyd
*.ipynb
