default_icores = 4
default_mpitasks = 1
default_pcores = 8
default_ptime = '12h'
default_itime = '3h'
default_importmem = '16G' // a good lower bound in Mb is: (((N ^ 2) / 2 * 48) / (1024 ^ 2) + 4096)
default_mem_sc = '8G' // a good lower bound in Mb is: (N ^ 2 * 8) / (1024 ^ 2)
default_mem_mc = '16G' // ARACNE and CLR will need much more. Look above for a lower bound
default_batchsize = 20 // a good value is N/200
default_ensemble_size = 1000
process.executor = 'local' // change to 'slurm' for SLURM

params {
  
  expr = 'headless.tsv'
  genes = 'genes.tsv'
  out = 'results'
  targets = 'targets.txt'
  slurm_account = 'facility'
  slurm_partition = 'node'
  slurm_time = '05:00:00'
  executor = process.executor
  error_strategy = 'ignore'

  anova = false
  anova_settings {
    tasks = 1 // can't use more
    cores = 1 // can't use more
    memory = default_mem_sc
    importcores = default_icores
    importmem = default_importmem
    meta_file = 'meta.tsv'
    importname = 'ANOVA'
    weight = 1.0
    ptime = default_ptime
    itime = default_itime
  }

  aracne = true
  aracne_settings {
    tasks = default_mpitasks
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem
    bins = 0
    spline = 3
    importname = 'ARACNE'
    batchsize = default_batchsize
    ptime = default_ptime
    itime = default_itime
  }

  clr = true
  clr_settings {
    tasks = default_mpitasks
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem
    bins = 0
    spline = 3
    importname = 'CLR'
    batchsize = default_batchsize
    ptime = default_ptime
    itime = default_itime
  }

  pearson = true
  pearson_settings {
    tasks = 1 // can't use more
    cores = 1 // can't use more
    memory = default_mem_sc
    importcores = default_icores
    importmem = default_importmem
    // -s if data should be scaled
    scale = '-s' 
    // -a if data should be reported as absolute values
    absolute = ''
    importname = 'Pearson'
    ptime = default_ptime
    itime = default_itime
  }

  spearman = true
  spearman_settings {
    tasks = 1 // can't use more
    cores = 1 // can't use more
    memory = default_mem_sc
    importcores = default_icores
    importmem = default_importmem
    // -s if data should be scaled
    scale = '-s' 
    // -a if data should be reported as absolute values
    absolute = ''
    importname = 'Spearman'
    ptime = default_ptime
    itime = default_itime
  }

  elnet = true
  elnet_settings {
    tasks = default_mpitasks
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem
    // -s if data should be scaled
    scale = '-s' 
    importname = 'ElNet'
    min_lambda = 0.3
    alpha = 0.3
    nlambda = 10
    max_experiment_size = 0 //auto
    min_experiment_size = 0 //auto
    max_predictor_size = 0 //auto
    min_predictor_size = 0 //auto
    ensemble = default_ensemble_size
    batchsize = default_batchsize
    ptime = default_ptime
    itime = default_itime
  }

  svm = true
  svm_settings {
    tasks = default_mpitasks
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem
    // -s if data should be scaled
    scale = '-s' 
    importname = 'SVM'
    max_experiment_size = 0 //auto
    min_experiment_size = 0 //auto
    max_predictor_size = 0 //auto
    min_predictor_size = 0 //auto
    ensemble = default_ensemble_size
    batchsize = default_batchsize
    ptime = default_ptime
    itime = default_itime
  }

  llr = true
  llr_settings {
    tasks = default_mpitasks
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem
    // -s if data should be scaled
    scale = '-s' 
    importname = 'LLR'
    max_experiment_size = 0 //auto
    min_experiment_size = 0 //auto
    max_predictor_size = 0 //auto
    min_predictor_size = 0 //auto
    ensemble = default_ensemble_size
    batchsize = default_batchsize
    ptime = default_ptime
    itime = default_itime
  }

  pcor = true
  pcor_settings {
    tasks = 1 // can't use more
    cores = 1 // can't use more
    memory = default_mem_sc
    importcores = default_icores
    importmem = default_importmem
    // -a if data should be reported as absolute values
    absolute = ''
    importname = 'pcor'
    ptime = default_ptime
    itime = default_itime
  }

  narromi = true
  narromi_settings {
    tasks = default_mpitasks
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem 
    importname = 'Narromi'
    batchsize = default_batchsize
    alpha = 0.05
    method = "simplex"
    ptime = default_ptime
    itime = default_itime
  }

  tigress = true
  tigress_settings {
    tasks = default_mpitasks
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem 
    importname = 'Tigress'
    batchsize = default_batchsize
    // -s if data should be scaled
    scale = '-s' 
    nlambda = 5
    min_lambda = 0.3
    nbootstrap = default_ensemble_size
    ptime = default_ptime
    itime = default_itime
  }

  genie3 = true
  genie3_settings {
    tasks = default_mpitasks
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem
    importname = 'GENIE3'
    batchsize = default_batchsize
    // -s if data should be scaled
    scale = '-s' 
    min_prop = 0.1
    alpha = 0.5
    min_node_size = 5
    mtry = 0
    ntree = default_ensemble_size
    ptime = default_ptime
    itime = default_itime
  }

  plsnet = true
  plsnet_settings {
    tasks = default_mpitasks
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem 
    importname = 'PLSNET'
    batchsize = default_batchsize
    // -s if data should be scaled
    scale = '-s' 
    components = 5
    predictors = 0 //auto
    ensemble = default_ensemble_size
    ptime = default_ptime
    itime = default_itime
  }

}