default_icores = 4
default_pcores = 8
default_importmem = '16G'
default_mem_sc = '8G'
default_mem_mc = '16G'
default_batchsize = 1
default_ensemble_size = 1000

params {
  expr = 'headless.tsv'
  genes = 'genes.tsv'
  out = 'results'
  targets = 'targets.txt'

  anova = false
  anova_settings {
    cores = 1
    memory = default_mem_sc
    importcores = default_icores
    importmem = default_importmem
    meta_file = 'meta.tsv'
    importname = 'ANOVA'
    weight = 1.0
  }

  aracne = true
  aracne_settings {
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem
    bins = 0
    spline = 3
    importname = 'ARACNE'
    batchsize = default_batchsize
  }

  clr = true
  clr_settings {
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem
    bins = 0
    spline = 3
    importname = 'CLR'
    batchsize = default_batchsize
  }

  pearson = true
  pearson_settings {
    cores = 1
    memory = default_mem_sc
    importcores = default_icores
    importmem = default_importmem
    // -s if data should be scaled
    scale = '-s' 
    // -a if data should be reported as absolute values
    absolute = ''
    importname = 'Pearson'
  }

  spearman = true
  spearman_settings {
    cores = 1
    memory = default_mem_sc
    importcores = default_icores
    importmem = default_importmem
    // -s if data should be scaled
    scale = '-s' 
    // -a if data should be reported as absolute values
    absolute = ''
    importname = 'Spearman'
  }

  elnet = true
  elnet_settings {
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem
    // -s if data should be scaled
    scale = '-s' 
    importname = 'ElNet'
    min_lambda = 0.3
    alpha = 0.3
    nlambda = 10
    max_experiment_size = 0 //auto
    min_experiment_size = 0 //auto
    max_predictor_size = 0 //auto
    min_predictor_size = 0 //auto
    ensemble = default_ensemble_size
    batchsize = default_batchsize
  }

  svm = true
  svm_settings {
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem
    // -s if data should be scaled
    scale = '-s' 
    importname = 'SVM'
    max_experiment_size = 0 //auto
    min_experiment_size = 0 //auto
    max_predictor_size = 0 //auto
    min_predictor_size = 0 //auto
    ensemble = default_ensemble_size
    batchsize = default_batchsize
  }

  llr = true
  llr_settings {
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem
    // -s if data should be scaled
    scale = '-s' 
    importname = 'LLR'
    max_experiment_size = 0 //auto
    min_experiment_size = 0 //auto
    max_predictor_size = 0 //auto
    min_predictor_size = 0 //auto
    ensemble = default_ensemble_size
    batchsize = default_batchsize
  }

  pcor = true
  pcor_settings {
    cores = 1
    memory = default_mem_sc
    importcores = default_icores
    importmem = default_importmem
    // -a if data should be reported as absolute values
    absolute = ''
    importname = 'pcor'
  }

  narromi = true
  narromi_settings {
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem 
    importname = 'Narromi'
    batchsize = default_batchsize
    alpha = 0.05
    method = "simplex"
  }

  tigress = true
  tigress_settings {
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem 
    importname = 'Tigress'
    batchsize = default_batchsize
    // -s if data should be scaled
    scale = '-s' 
    nlambda = 5
    min_lambda = 0.3
    nbootstrap = default_ensemble_size
  }

  genie3 = true
  genie3_settings {
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem
    importname = 'GENIE3'
    batchsize = default_batchsize
    // -s if data should be scaled
    scale = '-s' 
    min_prop = 0.1
    alpha = 0.5
    min_node_size = 5
    mtry = 0
    ntree = default_ensemble_size
  }

  plsnet = true
  plsnet_settings {
    cores = default_pcores
    memory = default_mem_mc
    importcores = default_icores
    importmem = default_importmem 
    importname = 'PLSNET'
    batchsize = default_batchsize
    // -s if data should be scaled
    scale = '-s' 
    components = 5
    predictors = 0 //auto
    ensemble = default_ensemble_size
  }

}